# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nils P. Kujath
	email = 63961429+NilsKujath@users.noreply.github.com
[core]
	editor = vim
[init]
	defaultBranch = master
[alias]
	cm = commit -m
	cam = commit -a -m
	pom = push origin master
	l = log --decorate --all --oneline --graph
